
body{
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif ;
    background-color: rgba(248, 234, 215, 0.479);

}
.main_container{
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    align-content: center;
    margin: 14vh;
    margin-left: 18%;
    margin-right: 18%;
}
h2{
    margin-left: 18px;
}
.container1{
    border: none;
    padding: 25px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.container2{
    display: flex;
}
a{
    text-decoration: none;

}
.img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    height: 530px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    
}
span{
    color: rgb(230, 205, 174);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px !important;
}
p{
    font-weight: 200;
    font-size: 12px;
    padding: 6px;
    margin: 8px;
}
p ,a{
    color: rgb(148, 142, 142) !important;
}
.text0{
    font-size: 15px;
    padding: 10px;
}
input ,textarea{
    margin: 8px 5px 8px 13px;
    width: 80%;
    height: 25px;
    border-radius: 20px;
    border: 2px solid antiquewhite;
}

button{
    border: none;
    border-radius: 20px;
    padding: 14px 30px;
    background-color: antiquewhite;
    
}
button:hover{
    background-color: rgb(240, 215, 183);
    color: white;
    margin-left: 35%;
}
@media screen and (max-width: 430px) {
   
    .main_container{
        flex-direction: column;
        display: flex;
        width: 80vw;
        align-content: center;
        margin-right: 200px;
        overflow: hidden;
        margin-left: 35px !important;}
        
     

        
}